<!--
    Kat Truitt
    IT328 Assignment Dating
    April 19,2019
    form2.html-> Displays form2 inputs
-->
<!doctype html>
<html lang="en">
<head>
    <!-- character set to UTF-8 -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- http url title heading set -->
    <title>Dating</title>
    <!-- fontawesome link to get  set glyphicon for website, as well as BootStrap maxcdn, stack path, JQuery and
     possibly more 2 more script.javascript assignments-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css.css for additional styling and layout-->
    <link href="styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="topNav">
    <!-- added fixed navbar to footer-->
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="home">Dating Connection<i class="fas fa-home"></i></a>
    </nav>
</div>
<div class="container-fluid">
    <div class="border rounded profile">
        <div class="personalInformation form-group">
            <h2>Profile</h2>
            <hr class="my-4">
            <form action="#" method="POST">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
                        </div>
                        <div class="form-group">
<!--                            <label for="state">State</label>-->
                            <select class="form-control" name="state">
                                <repeat group="{{ @states }}" value="{{ @state }}">
                                    <option  value="{{ @state }}">{{ @state }}</option>
                                </repeat>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Seeking</label>
                            <check if="{{ @errors['seeking'] }}">
                                <span class="err">{{ @errors['seeking'] }}</span>
                            </check><br>

                            <repeat group="{{ @seeking }}" value="{{ @seekingOption }}">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="{{ @seekingOption }}" class="custom-control-input"
                                           name="seeking" value="{{ @seekingOption }}"
                                    <check if=" {{ !empty(@seekingOption) && @seekingOption == @seeking  }}">
                                        checked="checked"
                                    </check>>
                                    <label class="custom-control-label" for="{{ @seekingOption }}">{{ @seekingOption }}</label>
                                </div>
                            </repeat>

                        </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="biography">Biography</label>
                        <textarea class="form-control" id="biography" name="biography" rows="5"></textarea>
                    </div>
                    <div class="next form-group">
                        <input class="btn btn-primary" type="submit" value="Next >" />
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

<nav id="navBottom" class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Kat Truitt &copy;2019</a>
</nav>
<!--Additional script links -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html></html>