<!--
    Kat Truitt
    IT328 Assignment Dating
    April 11,2019
    home.html-> home page for the Dating Connection
-->
<!doctype html>
<html lang="en">
<head>
    <!-- character set to UTF-8 -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- http url title heading set -->
    <title>Dating</title>
    <!-- fontawesome link to get  set glyphicon for website, as well as BootStrap maxcdn, stack path, JQuery and
     possibly more 2 more script.javascript assignments-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css.css for additional styling and layout-->
    <link href="styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
<!-- added fixed navbar -->
<nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="home"><i class="fas fa-home"></i>Dating Connection</a>
        <a class="nav-link" href="admin">Admin</a>
</nav>
<div class="container-fluid">
<div id="content" class="border rounded row">
    <div class="col-sm-6 word">
        <!--Welcome Div -->
        <h2>The Connection<i class="fas fa-heart"></i></h2>
        <p id="intro">Welcome to my dating website! Create a profile with your interests. We generate matches by
            interest and location. This site has successfully matched many couples. Take a moment to
            find out if your special someone is out there!
        </p>
        <!--Blockquote dive-->
        <p class="h6">Hear what users have to say about us...</p>
        <!-- header line before and aft blockquote-->
        <hr class="my-4">
        <blockquote class="blockquote">
            <p class="mb-0">Finally! I'm super stoked that there is a dating site dedicated to
                Stormtroopers</p>
            <footer class="blockquote-footer">Wandering Stormtrooper
                <cite title="Source Title">Drew</cite>
            </footer>
        </blockquote>
        <blockquote  class="blockquote">
            <p class="mb-0">Great site, easy to navigate!</p>
            <footer class="blockquote-footer">Never Lost
                <cite title="Source Title">Betty</cite>
            </footer>
        </blockquote>
        <blockquote  class="blockquote">
            <p class="mb-0">Met my partner, who is also my best friend, on this site.</p>
            <footer class="blockquote-footer">Floating in happiness
                <cite title="Source Title">Kelly</cite>
            </footer>
        </blockquote>
        <hr class="my-4">
        <!-- Button container-->

        <div id="buttonContainer" class="row">
            <!--create profile form-->

                <a id="profile" class="btn btn-primary btn-lg" href="personal">
                    Create Profile
                </a>
        </div>

    </div>
    <div id="picture" class="col-sm-6 clearfix">
        <!-- Image ;layout addresses content overflow and uploaded image to Intellij-->
        <img class="card-img img-fluid rounded mx-auto" src="images/romance-stormtrooper.jpg"
             alt="storm trooper">
    </div>
</div>
</div>




<!-- Fixed position footer, author name and year -->
<nav id="navBottom" class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Kat Truitt &copy;2019</a>
</nav>
<!--Additional script links -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>