<!--
    Kat Truitt
    IT328 Assignment Dating
    April 19,2019
    form2.html-> Displays the interests form
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
    <!-- fontawesome link to get  set glyphicon for website, as well as BootStrap maxcdn, stack path, JQuery and
    possibly more 2 more script.javascript assignments-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css.css for additional styling and layout-->
    <link href="styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="home"><i class="fas fa-home"></i>Dating Connection</a>
    <a class="nav-link" href="admin">Admin</a>
</nav>
<div class="container-fluid">
    <div class="border rounded profile">
        <div class="interestContainer form-group">
            <form action="#" method="post">
                <div class="titleInterest">
                    <h2>Interests</h2>
                </div>
                <hr class="my-4">
                <div class="indoor">
                    <label class="indoor">Indoor Interests</label>
                </div>
                <check if="{{ @errors['indoor'] }}">
                    <span class="err">{{ @errors['indoor'] }}</span>
                </check><br>
                <repeat group="{{ @indoorValid }}" value="{{ @indoorInterest}}">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="{{ @indoorInterest }}" type="checkbox" name="indoor[]"
                               value="{{@indoorInterest}}"
                        <check if="{{ !empty(@indoorInterest) && in_array( $_POST['indoor'] , @indoorValid) }}">
                            checked="checked"
                        </check>>
                        <label class="interests form-check-label" for="{{ @indoorInterest }}">{{ trim(@indoorInterest) }}</label>
                    </div>
                </repeat>
                <div class="outdoor">
                    <label class="outdoor">Outdoor Interests</label>
                </div>
                <check if="{{ @errors['outdoor'] }}">
                    <span class="err">{{ @errors['outdoor'] }}</span>
                </check><br>
                <repeat group="{{ @outdoorValid }}" value="{{ @outdoorInterest }}">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="{{ @outdoorInterest }}" type="checkbox" name="outdoor[]"
                        value="{{ @outdoorInterest  }}"
                        <check if="{{ !empty(@outdoorInterest) && in_array($_POST['outdoor'], @outdoorValid) }}">
                            checked="checked"
                        </check>>
                        <label class="interests form-check-label " for="{{ @outdoorInterest }}">{{ trim( @outdoorInterest ) }}</label>
                    </div>
                </repeat>
                <input type="text" hidden name="hidden" value="">
                <div  class="next">
                    <input class="btn btn-primary" type="submit" value="Next >" />
                </div>

            </form>
        </div>
    </div>
</div>

<nav id="navBottom" class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Kat Truitt &copy;2019</a>
</nav>
<!--Additional script links -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>